<a href="https://colab.research.google.com/github/nilanka76/ML-Practice-codes/blob/main/Ml_exam_techtree_Q3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import csv

header = ['Name', 'Happiness Score', 'Health Score', 'State']
data = [
    ['A', 7, 7, 'HAPPY'],
    ['B', 2, 1, 'SAD'],
    ['C', 3, 2, 'SAD'],
    ['D', 4, 5, 'NEUTRAL'],
    ['E', 5, 4, 'NEUTRAL'],
    ['F', 2, 2, 'SAD'],
    ['G', 9, 8, 'HAPPY'],
    ['H', 3, 2, 'SAD'],
    ['I', 4, 5, 'NEUTRAL'],
    ['J', 5, 4, 'NEUTRAL'],
    ['K', 3, 2, 'SAD'],
    ['L', 2, 3, 'SAD'],
    ['M', 3, 1, 'SAD'],
    ['N', 7, 6, 'HAPPY'],
    ['O', 5, 5, 'NEUTRAL'],
    ['P', 8, 9, 'HAPPY'],

]

with open('happiness.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)

    writer.writerow(header)

    writer.writerows(data)

In [28]:
import pandas as pd
import numpy as np
dataset = pd.read_csv("happiness.csv")
dataset

   Name  Happiness Score  Health Score    State
0     A                7             7    HAPPY
1     B                2             1      SAD
2     C                3             2      SAD
3     D                4             5  NEUTRAL
4     E                5             4  NEUTRAL
5     F                2             2      SAD
6     G                9             8    HAPPY
7     H                3             2      SAD
8     I                4             5  NEUTRAL
9     J                5             4  NEUTRAL
10    K                3             2      SAD
11    L                2             3      SAD
12    M                3             1      SAD
13    N                7             6    HAPPY
14    O                5             5  NEUTRAL
15    P                8             9    HAPPY

In [30]:
x = dataset.drop(columns=["Name", "State"])
x

    Happiness Score  Health Score
0                 7             7
1                 2             1
2                 3             2
3                 4             5
4                 5             4
5                 2             2
6                 9             8
7                 3             2
8                 4             5
9                 5             4
10                3             2
11                2             3
12                3             1
13                7             6
14                5             5
15                8             9

In [31]:
y = dataset["State"]
y

0       HAPPY
1         SAD
2         SAD
3     NEUTRAL
4     NEUTRAL
5         SAD
6       HAPPY
7         SAD
8     NEUTRAL
9     NEUTRAL
10        SAD
11        SAD
12        SAD
13      HAPPY
14    NEUTRAL
15      HAPPY
Name: State, dtype: object

In [34]:
from sklearn.naive_bayes import GaussianNB
from sklearn import datasets, metrics

classifier = GaussianNB()
classifier.fit(x, y)
score = metrics.accuracy_score(y, classifier.predict(x)) # I use the same data as train data which I should not, but had to, because I made less data due to sortage of time
print("Accuracy: %f" % score)

Accuracy: 1.000000

**Above result is due to insufficient data and I didnt have time to make test dataset,... and I used same data to calculate accuracy**